h1 {
	color: blue;
}

nav.menu-nav ul li.btn a{
	text-decoration: none;
	color: grey;
	background-color: white;
	padding: 30px;
	

}

nav.menu-nav ul li.btn:hover a{
     color: white;
     background-color: blue;
}

nav.menu-nav ul li.btn{
	display: inline-block;
	float: right;
	

	

}

nav.menu-nav ul li.btn{
    list-style-type: none;
}


