.header {
	display: flex;
	justify-content: space-between;


	

	
}

.menu-nav {
	display: inline-block;

}
	
.menu-nav a {
	text-decoration: none;
	color:grey;
	word-spacing: 2px;

}

.menu-item {
	display: inline-block;
	list-style-type: none;
	text-decoration: none;

}

.menu-item hover a{
	color: blue;
}

  




