.header {
	display: flex;
	justify-content: space-between;	
}

.menu-nav {
	display: inline-block;

}
	
.menu-nav a {
	text-decoration: none;
	color:grey;
	margin-left: 50px;

}

.menu-item {
	display: inline-block;
	list-style-type: none;
	text-decoration: none;
	font-size: 15px;

}

.menu-nav ul li.menu-item:hover a{
     border-top: 2px solid blue;
}

  




